body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

form input{
    width: 200px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

button{
    width: 200px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

button:hover{
    background-color: blue;
    color: white;
    cursor: pointer;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}