body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: cornflowerblue;
}

h1:hover{
    color: green;
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
}

#balance{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

#result{
    display: flex;
    width: 200px;
    height: 80px;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid lightgoldenrodyellow;
}
#result:hover{
    background-color: cornflowerblue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-color: green;
}