body{
    background: black;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60%;

}

.heading{
    color: white;
    font-size: 50px;
    padding-right: 20px;

}

.description{
    font-size: 45px;
    color: yellow;
}
