body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: yellow;
    font-size: 16px;
}

h1{
    text-align: center;
    color: yellow;
    margin-top: 30px;
    margin-bottom: 30px;
}