body{
    background-color: white;
}
.products {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}

.products img{

    width:280px;
    height:280px;
    margin-bottom: 30px;

}
.products button{
    display:block;
    width:280px;
    height: 30px;
    background: dodgerblue;
    color: white;
    border: dodgerblue;
    border-radius: 15px;
    font-size: 16px;
    margin-bottom: 30px;
}