body{
    background-color: olivedrab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#blockWithNumbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    font-size: 200px;
    color: white;
    background: black;
    border-radius: 30px;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;

}