.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}