body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#blockWithSum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    font-size: 200px;
    color: white;
    background: black;
    border-radius: 30px;
}
#blockWithSum:hover{
    color: blueviolet;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

button{
    width: 100px;
    height: 40px;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
}

p{
position: fixed;
    color: white;
    right: 400px;
    top: 370px;
}