body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.forTitle{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 2px;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: dodgerblue;
    color: white;
    font-size: 25px;
}

.forMonthDuration{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 2px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: absolute;
    background-color: yellow;
    color: blue;
    font-size: 35px;
}

.forHourDuration{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 2px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 120px;
    background-color: yellow;
    color: blue;

}

.forModules{
    width: 300px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: black solid 2px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: yellow;
}

ul{
    list-style-type: none;
    font-size: 16px;
    text-align: center;
    margin-left: -40px;
}

