*{
    margin: auto;

}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #000;
    margin-top: 20px;
}

.users-box{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: dodgerblue;
    margin-bottom: 20px;
    padding: 15px;
    border: 3px solid white;
    border-radius: 10px;
}

.user-block{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: dodgerblue;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
}

.address-block {
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: GrayText;
}


